# VacationPy
----

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import gmaps.datasets
import os
import json

# Import API key
from api_keys import g_key

#Make sure Google API key has been imported
print(g_key)

AIzaSyDVg6EPzJchta3rYrvzc8ACFvMmyjSrglo

### Store Part I results into DataFrame

In [2]:
#Read in the city and weather data from WeatherPy
cities_data_to_load = "output_data/cities.csv"
cities_weather_df = pd.read_csv(cities_data_to_load)
cities_weather_df = pd.DataFrame(cities_weather_df)

#Pretty up with proper capitalization
cities_weather_df['City']=cities_weather_df['City'].str.capitalize()
cities_weather_df['Country']=cities_weather_df['Country'].str.upper()

#Peak at the df. Should be same as the output csv from WeatherPY
cities_weather_df

,City ID,City,Country,Act Lat,Act Lon,Temperature (F),Humidity,Cloudiness,Wind Speed
0,2411397,Georgetown,SH,-7.93,-14.42,81.19,75,0,13.85
1,3833367,Ushuaia,AR,-54.80,-68.30,46.40,75,40,28.86
2,370481,Marawi,SD,18.48,31.82,90.57,9,45,13.53
3,3372760,Praia da vitoria,PT,38.73,-27.07,62.60,82,40,14.45
4,1650434,Bambanglipuro,ID,-7.95,110.28,79.36,69,25,3.49
...,...,...,...,...,...,...,...,...,...
496,2094027,Kieta,PG,-6.22,155.63,80.47,78,4,0.58
497,866062,Iskateley,RU,67.68,53.15,22.08,95,100,11.43
498,2512186,Puerto del rosario,ES,28.50,-13.86,70.43,64,40,8.05
499,2250645,Kedougou,SN,12.56,-12.17,95.00,41,68,6.93
500,1651531,Ambon,ID,-3.70,128.18,80.60,88,40,8.05

### Humidity Heatmap

In [3]:
#Configure gmaps and read api key
gmaps.configure(api_key=g_key)

#Grab the needed columns for the humidity-weighted heatmap
city_humidity_map_data = cities_weather_df[['Act Lat', 'Act Lon', 'Humidity']]

#Center on Minneapolis!
minneapolis = [44.9778, -93.265]

#Set locations based on city lat long from WeatherPy
locations = city_humidity_map_data[['Act Lat', 'Act Lon']]

#Weight the heatmap by humidity level
weights = city_humidity_map_data['Humidity']

#Generate gmaps figure, add heatmap layer
fig = gmaps.figure(map_type='HYBRID', center = minneapolis, zoom_level=2)
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights, dissipating=False, max_intensity=100, point_radius=1.5))
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria

In [4]:
#Set desired vacation weather parameters. Temp and humidity are 'target' values, wind and clouds are 
#maximum values.

#Enter desired temp in degrees F
ideal_temp = 80
#Enter desired humidity in %
ideal_humid = 45
#Enter maximum allowed wind speed in MPH
ideal_wind = 100
#Enter maximum clouds as % of sky cloud covered
ideal_clouds = 100

#Make a df of the vacation weather parameters
user_inputs_df = pd.DataFrame({'Temperature':[ideal_temp], 'Humidity':[ideal_humid], 'Wind':[ideal_wind], 'Clouds':[ideal_clouds]})

#Assume +/-10F and +/-10% humidity are acceptable tolerance levels to ideal
temp_tolerance = 10 
humid_tolerance = 10
upper_temp = ideal_temp+temp_tolerance
lower_temp = ideal_temp-temp_tolerance
upper_humid = ideal_humid+humid_tolerance
lower_humid = ideal_humid-humid_tolerance

#Select cities that meet the vacation criteria. Assume wind and cloudiness preferences represent maximums
cities_choice_df = cities_weather_df.loc[cities_weather_df['Temperature (F)']<=upper_temp]
cities_choice_df = cities_choice_df.loc[cities_choice_df['Temperature (F)']>=lower_temp]
cities_choice_df = cities_choice_df.loc[cities_choice_df['Humidity']<=upper_humid]
cities_choice_df = cities_choice_df.loc[cities_choice_df['Humidity']>=lower_humid]
cities_choice_df = cities_choice_df.loc[cities_choice_df['Wind Speed']<=ideal_wind]
cities_choice_df = cities_choice_df.loc[cities_choice_df['Cloudiness']<=ideal_clouds]

#Count the number of cities selected
num_cities = cities_choice_df['City ID'].count()

#Summarize the criteria and number of cities selected
print(f'{num_cities} cities are in range of your criteria.')

#if after applying the criteria the number of cities is >10 then choose 10 randomly to 
#limit API calls to Google Places
if num_cities>10:
    cities_choice_df = cities_choice_df.sample(10)
    print(f'We have randomly selected 10 cities.')

#Summarize
user_inputs_df.index = ['Vacation City Criteria']
print(user_inputs_df)
cities_choice_df.head(20)

20 cities are in range of your criteria.
We have randomly selected 10 cities.
                        Temperature  Humidity  Wind  Clouds
Vacation City Criteria           80        45   100     100

,City ID,City,Country,Act Lat,Act Lon,Temperature (F),Humidity,Cloudiness,Wind Speed
259,3867427,Mayor pablo lagerenza,PY,-19.93,-60.77,88.72,44,60,12.57
95,3355672,Luderitz,NA,-26.65,15.16,73.40,46,0,24.16
275,1253956,Udhampur,IN,32.93,75.13,82.08,35,100,1.19
117,3351380,Caconda,AO,-13.73,15.07,71.06,49,98,3.76
458,3662927,Pauini,BR,-7.71,-66.98,86.54,55,47,3.94
269,3870243,Taltal,CL,-25.40,-70.48,71.82,51,3,5.99
42,1278969,Along,IN,28.17,94.77,70.92,46,9,3.11
7,155052,Malangali,TZ,-8.57,34.85,76.68,44,78,7.40
101,199604,Chepareria,KE,1.31,35.20,74.55,36,81,6.96
391,1162862,Uthal,PK,25.81,66.62,79.95,43,64,8.25

### Hotel Map

In [5]:
#Set possible hotel cities from vacation weather parameter output
hotel_df = cities_choice_df

#Set parameters to hotels within 5km of city, use g_key
params = {
    "radius": 5000,
    "type": "hotel",
    "key": g_key,
}

# Use the lat/lng from the target cities to find nearby hotels
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Act Lat"]
    lng = row["Act Lon"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    # Use the search term: "hotel" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    response = requests.get(base_url, params=params).json()
    
    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        hotel_df.loc[index, "Hotel Name"] = response['results'][1]['name']
        hotel_df.loc[index, "Hotel Address"] = response['results'][1]['vicinity']
        hotel_df.loc[index, "Hotel Lat"] = response['results'][1]['geometry']['location']['lat']
        hotel_df.loc[index, "Hotel Lon"] = response['results'][1]['geometry']['location']['lng']
    except (KeyError, IndexError):
        print("Missing hotel data for "+ hotel_df.loc[index, "City"]+', deleted from results.')

#Drop any cities where a hotel name, address, or lat/lng was not found. Ensures will plot properly on gmaps.
hotel_df.dropna(subset = ["Hotel Name", 'Hotel Address', 'Hotel Lat', 'Hotel Lon'], inplace=True)        
        
#Peak at the new df that includes hotel name address and lat long of the hotel (rather than the city)        
hotel_df

,City ID,City,Country,Act Lat,Act Lon,Temperature (F),Humidity,Cloudiness,Wind Speed,Hotel Name,Hotel Address,Hotel Lat,Hotel Lon
259,3867427,Mayor pablo lagerenza,PY,-19.93,-60.77,88.72,44,60,12.57,EstaciÃ³n MeteorolÃ³gica AutomÃ¡tica,Mayor Pablo Lagerenza,-19.931850,-60.770565
95,3355672,Luderitz,NA,-26.65,15.16,73.40,46,0,24.16,LÃœDERITZ NEST HOTEL,"820 Dias Street, Luderitz",-26.652957,15.149620
275,1253956,Udhampur,IN,32.93,75.13,82.08,35,100,1.19,Hotel Singh Axis,"National Highway 1A, M.H.Morh, Udhampur",32.927103,75.135407
117,3351380,Caconda,AO,-13.73,15.07,71.06,49,98,3.76,Fortaleza de Caconda,Caconda,-13.733305,15.066675
458,3662927,Pauini,BR,-7.71,-66.98,86.54,55,47,3.94,Prefeitura Municipal de Pauini,"Pc Sto Agostinho, 198, Pauini",-7.713489,-66.992581
269,3870243,Taltal,CL,-25.40,-70.48,71.82,51,3,5.99,Residencial Karime,"RamÃ­rez 367, Taltal, Taltal",-25.408999,-70.484308
42,1278969,Along,IN,28.17,94.77,70.92,46,9,3.11,State Bank of India,"Medog, Aalo",28.170195,94.797775
7,155052,Malangali,TZ,-8.57,34.85,76.68,44,78,7.40,Lyanika High School,Malangali,-8.566996,34.854431
101,199604,Chepareria,KE,1.31,35.20,74.55,36,81,6.96,St.cecilia girls sec,"Kapenguria - Lodwar Rd,Chepareria, South",1.298467,35.196020
391,1162862,Uthal,PK,25.81,66.62,79.95,43,64,8.25,R H C,Uthal,25.811056,66.622820

In [6]:
#Pin marker info box template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""

#Create parameters of gmaps
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Hotel Lat", "Hotel Lon"]]

# Add marker layer ontop of heat map
# Assign the marker layer to a variable
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Add the layer to the map. Shows all cities humidty heatmap and a pin with info box for the sample of hotels
#where the vacation weather parameters are met
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))